@inject IHttpContextAccessor ContextAccessor
@inject ProductRepository _productRepository
@{double totalPrice = 0;}
@foreach (var item in ContextAccessor.HttpContext!.Session.Get<List<CartItemVM>>()!)
{
    var product = await _productRepository.GetByIdAsync(item.ProductId);
    totalPrice += product!.Price * item.Count;
    <div class="cart-elements-style">
        <div style="display: flex; align-items: center; justify-content: center">
            <img class="image-scale" height="70" src="~/images/@(product!.Image != null ? $"{PathSettings.Products}/{product.Image}" : "default.jpg")" alt="@product.Name">
            @if (item.Count > 1)
            {
                <a asp-controller="Cart" asp-action="Decrement" asp-route-id="@product.Id"><i class="bi bi-arrow-left-circle-fill" style="font-size: 30px; color: green; margin: 10px"></i></a>
            }
            else
            {
                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@product.Id"><i class="bi bi-arrow-left-circle-fill" style="font-size: 30px; color: green; margin: 10px"></i></a>
            }
            <span style="font-size: 20px">@item.Count</span>
            @if (item.Count < product.Amount)
            {
                <a asp-controller="Cart" asp-action="Increment" asp-route-id="@product.Id"><i class="bi bi-arrow-right-circle-fill" style="font-size: 30px; color: green; margin: 10px"></i></a>
            }
            else
            {
                <i class="bi bi-arrow-right-circle-fill" style="font-size: 30px; color: green; margin: 10px; cursor: pointer"></i>
            }
            <span style="font-size: 20px">Загальна ціна: ₴@(product.Price * item.Count)</span>
        </div>
    </div>
}
<div class="cart-elements-style">
    <span style="font-size: 20px">Загальна ціна всіх товарів: ₴@totalPrice</span>
</div>